<p id="notice"><%= notice %></p>

<h1>Church Pray Petitions</h1>

<table>
  <thead>
    <tr>
      <th>Pray for</th>
      <th>Request from</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @church_pray_petitions.each do |church_pray_petition| %>
      <tr>
        <td><%= church_pray_petition.pray_for %></td>
        <td><%= church_pray_petition.request_from %></td>
        <td><%= link_to 'Show', church_pray_petition %></td>
        <td><%= link_to 'Edit', edit_church_pray_petition_path(church_pray_petition) %></td>
        <td><%= link_to 'Destroy', church_pray_petition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Church Pray Petition', new_church_pray_petition_path %>
